.slider_container{
    background: url('../../images/slider-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
}
.row{
    height: auto;
    width: 100%;
}
.item{
    padding: 2.4rem 0rem;
}
.tag_line{
    color: red;
    font-size: 5rem;
}
.item p{
    text-align: justify;
}